nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li:hover ul {
    display: block;
    top: 100%;
    left: 0;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    padding: 10px 16px;
}
